{% block sidebar_menu %}
<ul class="sidebar-menu">
    <li class="header" style="text-transform: uppercase">{{translate('NAVIGATION')}}</li>
    {% include 'navigation/sidebar-menu.html.twig' %}
</ul>
{% endblock %}
