{% extends "pages/abstract/default.html.twig" %}

{% set page_active = "recall" %}

{# Overrides blocks in head of base template #}

{% block page_title %}Practice Information Form{% endblock %}


{% block body_matter %}
    {#<h1>Welcome to the CEC Support App</h1>#}
<div id="alerts-page"></div>


    <form class="form-inline">

        <div class="final-section">
            <h2 id="final">Additional Recall Information</h2>



            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group has-feedback radio">
                        Do patients have to see the hygienist and/or dentist who treatment planned the appointment?
                        <div class="radio">
                            <label for="srp-y-1">
                                <input type="radio" name="srp-radio" id="srp-y-1" value="Yes">
                                Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label for="srp-n-1">
                                <input type="radio" name="srp-radio" id="srp-n-1" value="No">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group has-feedback radio">
                        Do all family members have to have the same dentist?
                        <div class="radio">
                            <label for="transfer-y-1">
                                <input type="radio" name="transfer-radio" id="transfer-y-1" value="Yes">
                                Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label for="transfer-n-1">
                                <input type="radio" name="transfer-radio" id="transfer-n-1" value="No">
                                No
                            </label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group has-feedback radio">
                        If the patient would like to get in sooner or wants to see a different provider, should we schedule them with another provider?
                        <div class="radio">
                            <label for="transfer-y-1">
                                <input type="radio" name="transfer-radio" id="transfer-y-1" value="Yes">
                                Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label for="transfer-n-1">
                                <input type="radio" name="transfer-radio" id="transfer-n-1" value="No">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group has-feedback radio">
                        If no, should we transfer the patient to the practice?
                        (If the patient would like to get in sooner or wants to see a different provider)
                        <div class="radio">
                            <label for="srp-y-1">
                                <input type="radio" name="srp-radio" id="srp-y-1" value="Yes">
                                Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label for="srp-n-1">
                                <input type="radio" name="srp-radio" id="srp-n-1" value="No">
                                No
                            </label>
                        </div>
                    </div>
                </div>


            </div>


            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group has-feedback radio">
                        For a patient transferring from another Midwest Dental location do you schedule them as a NPIE?
                        <div class="radio">
                            <label for="srp-y-1">
                                <input type="radio" name="srp-radio" id="srp-y-1" value="Yes">
                                Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label for="srp-n-1">
                                <input type="radio" name="srp-radio" id="srp-n-1" value="No">
                                No
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group has-feedback radio">
                        Do you schedule them off the treatment plan from the other MWD office?
                        For a patient transferring from another Midwest Dental location
                        <div class="radio">
                            <label for="transfer-y-1">
                                <input type="radio" name="transfer-radio" id="transfer-y-1" value="Yes">
                                Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label for="transfer-n-1">
                                <input type="radio" name="transfer-radio" id="transfer-n-1" value="No">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group has-feedback radio">
                        Do you use NPIE blocks in your schedule?
                        <div class="radio">
                            <label for="srp-y-1">
                                <input type="radio" name="srp-radio" id="srp-y-1" value="Yes">
                                Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label for="srp-n-1">
                                <input type="radio" name="srp-radio" id="srp-n-1" value="No">
                                No
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group has-feedback radio">
                        If yes, do you only schedule New Patients in the NPIE blocks?
                        <div class="radio">
                            <label for="transfer-y-1">
                                <input type="radio" name="transfer-radio" id="transfer-y-1" value="Yes">
                                Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label for="transfer-n-1">
                                <input type="radio" name="transfer-radio" id="transfer-n-1" value="No">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group has-feedback radio">
                        If no, can you request to have them added?
                        If you don't schedule New Patients in the NPIE blocks
                        <div class="radio">
                            <label for="srp-y-1">
                                <input type="radio" name="srp-radio" id="srp-y-1" value="Yes">
                                Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label for="srp-n-1">
                                <input type="radio" name="srp-radio" id="srp-n-1" value="No">
                                No
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group has-feedback radio">
                        Do you limit the number of NPIE's per day?
                        <div class="radio">
                            <label for="transfer-y-1">
                                <input type="radio" name="transfer-radio" id="transfer-y-1" value="Yes">
                                Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label for="transfer-n-1">
                                <input type="radio" name="transfer-radio" id="transfer-n-1" value="No">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="adult-hygiene-units-1" class="control-label">For an adult patient with no treatment
                            plan, how many units
                            is that
                            patient scheduled in hygiene?
                        </label>
                        <select class="form-control" name="hygiene-units" id="adult-hygiene-units-1">
                            <option value="">Please select</option>
                            <option value="N/A">N/A</option>
                            <option value="1 NP per day">1 NP per day</option>
                            <option value="2 NP per day">2 NP per day</option>
                            <option value="3 NP per day">3 NP per day</option>
                            <option value="4 NP per day">4 NP per day</option>
                            <option value="5 NP per day">5 NP per day</option>
                            <option value="6 NP per day">6 NP per day</option>
                            <option value="7 NP per day">7 NP per day</option>
                            <option value="8 NP per day">8 NP per day</option>
                            <option value="9 NP per day">9 NP per day</option>
                            <option value="10 NP per day">10 NP per day</option>
                            <option value="11 NP per day">11 NP per day</option>
                            <option value="12 NP per day">12 NP per day</option>
                        </select>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="hygienist-name" class="control-label">BOM Full Name</label>
                    <input type="text" class="form-control" id="hygienist-name" name="hygienist-name" placeholder="Full Name">
                </div>
                <div class="form-group col-sm-6">
                    <label for="hygienist-name" class="control-label">BOM Phone Number</label>
                    <input type="text" class="form-control" id="hygienist-name" name="hygienist-name" placeholder="Full Name">
                </div>


            </div>

            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="hygienist-provider-num" class="control-label">Clinic Directions: How do you tell patients how to find you?
                    </label>
                    {#<input type="textarea" class="form-control" id="hygienist-provider-num" name="hygienist-provider-num" placeholder="000000">#}
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group col-sm-12">
                    <label for="hygienist-name" class="control-label">Is there anything you think we need to know about your practice that we didn't ask?</label>
                    {#<input type="textarea" class="form-control" id="hygienist-name" name="hygienist-name" placeholder="Full Name">#}
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>

        </div>

        <button type="submit" class="btn btn-orange  pull-right">Submit ></button>
    </form>



{% endblock %}





{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
        {% include "pages/partials/page.js.twig" %}
    </script>

    <!-- Include page-specific JS -->
    {{ assets.js('js/intake') | raw }}

    <script>
        //submit form
        $(".intake").ufForm({
            validators: page.validators.intake,
            msgTarget: $("#alerts-page")
        }).on("submitSuccess.ufForm", function (event, data, textStatus, jqXHR) {
            window.location.replace(site.uri.public + "/intake/npie");
        });
    </script>

{% endblock %}
