{% extends "pages/abstract/default.html.twig" %}

{% set page_active = "recall" %}

{# Overrides blocks in head of base template #}

{% block page_title %}Practice Information Form{% endblock %}


{% block body_matter %}
    {#<h1>Welcome to the CEC Support App</h1>#}



    <form class="form-inline">

        <div class="adult-npie-section">
            <h2 id="adult-npie">Adult Recall 1</h2>

            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="adult-hygiene-units">For an adult patient with no treatment plan, how many units is that
                        patient scheduled in hygiene?
                    </label>
                    <select class="form-control" name="adult-hygiene-units" id="adult-hygiene-units">
                        <option>Please select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>

                <div class="form-group col-sm-6">
                    <label for="adult-doctor-units">After how many years since their last visit do you consider the
                        patient "new" and schedule them as a new patient?
                    </label>
                    <select class="form-control" name="adult-doctor-units" id="adult-doctor-units">
                        <option>Please select</option>
                        <option value="<1 year">Less than 1 year</option>
                        <option value="1 year">1 year</option>
                        <option value="2 years">2 years</option>
                        <option value="3 years">3 years</option>
                        <option value="4 years">4 years</option>
                        <option value="5 years">5 years</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    Is it okay if a patient is treatment planned for SRP, and only wants a regular cleaning?
                    <div class="radio">
                        <label>
                            <input type="radio" name="adult-npie-scheduled" id="yes" value="Yes">
                            Yes
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="adult-npie-scheduled" id="no" value="No">
                            No
                        </label>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    If no, should we transfer the call to the practice?
                    <div class="radio">
                        <label>
                            <input type="radio" name="adult-npie-scheduled" id="yes" value="Yes">
                            Yes
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="adult-npie-scheduled" id="no" value="No">
                            No
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="adult-hygiene-units">If yes, how many units should we schedule for a regular cleaning?
                    </label>
                    <select class="form-control" name="adult-hygiene-units" id="adult-hygiene-units">
                        <option>Please select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    Should we also schedule them for an exam or consultation with the doctor?
                    <div class="radio">
                        <label>
                            <input type="radio" name="adult-npie-scheduled" id="yes" value="Yes">
                            Yes
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="adult-npie-scheduled" id="no" value="No">
                            No
                        </label>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="adult-hygiene-units">If a patient is treatment planned for perio maintenance and no
                        units are attached, how many units do you schedule?
                    </label>
                    <select class="form-control" name="adult-hygiene-units" id="adult-hygiene-units">
                        <option>Please select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="adult-button-row">
            <a class="btn btn-default repeat-adult pull-right"><i class="fa fa-plus"></i> Add Adult NPIE</a><br>
        </div>

        <div class="child-npie-section">

            <h2 id="child-npie">Child Recall 1</h2>


            <div class="row">
                <div class="form-group col-sm-6">
                    Child Age Range
                    <div class="radio">
                        <label>
                            <input type="radio" name="child-npie-scheduled" id="yes" value="Yes">
                            Age 0-3
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="child-npie-scheduled" id="no" value="No">
                            Age 4-10
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="child-npie-scheduled" id="no" value="No">
                            Age 11-17
                        </label>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    If the patient got braces since their last visit, do you add a unit?

                    <div class="radio">
                        <label>
                            <input type="radio" name="child-npie-scheduled" id="yes" value="Yes">
                            Yes
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="child-npie-scheduled" id="no" value="No">
                            No
                        </label>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="child-hygiene-units">Hygiene Units</label>
                    <select class="form-control" name="child-hygiene-units" id="child-hygiene-units">
                        <option>Please select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>

                <div class="form-group col-sm-6">
                    <label for="child-doctor-units">Doctor Units</label>
                    <select class="form-control" name="child-doctor-units" id="child-doctor-units">
                        <option>Please select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="child-button-row">
            <a class="btn btn-default repeat-child pull-right">+ Add Child NPIE</a><br>
        </div>
        <button type="submit" class="btn btn-orange  pull-right">Next ></button>
    </form>



{% endblock %}



{% block scripts_page %}

    <script>


        // Cloning Dentist
        var adult_count = 2;
        $('.repeat-adult').on('click', function () {
            var source = $('.adult-npie-section:first'), clone = source.clone();
            clone.find(':input').attr('id', function (i, val) {
                return val + "-" + adult_count;
            });
            clone.find('#adult-npie').attr('id', function (i, val) {
                return val + "-" + adult_count;
            });
            clone.insertBefore('.adult-button-row');
            document.getElementById('adult-npie-' + adult_count).innerHTML = "Adult NPIE " + adult_count + "<i class=\"fa fa-times pull-right remove\"></i>";
            adult_count++;
        });

        var child_count = 2;
        $('.repeat-child').on('click', function () {
            var source = $('.child-npie-section:first'), clone = source.clone();
            clone.find(':input').attr('id', function (i, val) {
                return val + "-" + child_count;
            });
            clone.find('#child-npie').attr('id', function (i, val) {
                return val + "-" + child_count;
            });
            clone.insertBefore('.child-button-row');
            document.getElementById('child-npie-' + child_count).innerHTML = "Child NPIE " + child_count + "<i class=\"fa fa-times pull-right remove\"></i>";
            child_count++;
        });

        // Removing Form Field
        $('body').on('click', '.remove', function () {
            var closest = $(this).closest('.adult-npie-section, .child-npie-section').remove();
        });

        //submit form
        $("#sign-in").ufForm({
            // validators: page.validators.login,
            msgTarget: $("#alerts-page")
        }).on("submitSuccess.ufForm", function (event, data, textStatus, jqXHR) {
            redirectOnLogin(jqXHR);
        });
    </script>

{% endblock %}
