@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #575757;
}
.content-wrapper, .right-side {
    background-color: #FFF;
}

/* navigaiton */
.main-header .logo {
    height: 30px;
    width: auto;
}

/* bootstrap overrides */
.form-control:focus {
    color: #575757;
    background-color: #fff;
    border-color: #034638;
    outline: 0;
    box-shadow: 0 0 2px 0.1rem rgba(0,105,83,.25);
}
